seed/aflgo-experiments/ar/aflgo/libxml2_2_1/libxml2_xml_reader_for_file_fuzzer/6/findings/queue/id:001132,time:0,orig:all.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="PurchaseOrderType">
    <xsd:sequence>
  <xsd:all>
        <xsd:element name="shipTo" type="USAddress"/>
        <xsd:element name="billTo" type="USAddress"/>
        <xsd:element name="items" type="Items"/>
      </xsd:all>
      <xsd:sequence>
        <xsd:element ref="comment" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:sequence>
    <xsd:attribute name="orderDate" tyxsd:complexType>
</xsd:schema>
