tools/captain/initial-seed-corpus1/ar/aflplusplus/libxml2_2_1/libxml2_xml_reader_for_file_fuzzer/0/findings/default/queue/id:001070,time:0,orig:anyAttr.importB.1_0.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:attributeGroup name="attrGr.inters.6_1">
		<xsd:anyAttribute namespace="##other"/>
	</xsd:attributeGroup>

	<xsd:complexType name="imp.type.base.inte_1">	
		<xsd:anyAttribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

	<xsd:complexType name="imp.type.base.derive.4_1">	
		<xsd:atribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

	<xsd:complexTname="imp.type.base.derive.6">	
		<xsd:anyAttribute namespace="##other" processContents="lax"/>	
	</xsd:complexType>

</xsd:schema>

