seed/aflgo-experiments/ar/aflgo/libxml2_8_1/libxml2_xml_reader_for_file_fuzzer/8/findings/queue/id:000999,time:0,orig:bug310264_0.xsd

<xs:schema xmlns:tns="http://myns"
        targetNamespace="http://myns"
        xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:element name="a" />

  <xs:complexType name="c        <xs:sequence minOccu2" maxOccurs="4"       <xs:sequence ccurs="19" mcurs="20             <xs:element ref         </xs:sequence>
        </xs:seqxTyp  <xs:element name="c" type="tns:c" />

</xs:schema>
