tools/captain/initial-seed-corpus1/ar/aflplusplus/libxml2_15_1/libxml2_xml_reader_for_file_fuzzer/0/findings/default/queue/id:000223,time:0,orig:tutor9_10.rng

<grammar xmlns="http://relaxng.org/ns/structure/1.0">

  <include href="inline3.rng"/>

  <start>
    <element name="doc">
      <zeroOrMore>
	<element name="p">
	  <ref name="inline"/>
	</element>
      </zeroOrMore>
    </element>
  </start>

  <define name="inline.extra" combine="choice">
    <ch>
      <element name="code">
	<ref name="inline"/>
  </element>
      <element name">
	<ref name="inline"/>
      </element>
    </choice>
  </define>
  
</grammar>
